body, html {
   padding: 0;
   margin: 0;
   font-family: Georgia, 'Times New Roman', Times, serif;
/*      
    background-image: url("https://wallpapercave.com/wp/wp3331049.jpg");
    background-position: inherit;
    background-repeat: repeat;
    background-size: ; */

    background-image: url("https://vistapointe.net/images/dc-vs-marvel-1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;

    height: 100vh;
    width: 100vw;
    
}

main {
    width: 100%;
}


footer {
    background: black;
    position: absolute;
    bottom: 0;
    width: auto;
    height: 3rem; 
    
}
h1, h2, h4 {
    color:#e8dbdb; 
       
}

